<div class="content has-text-grey">
    <p>
        Hello and welcome! I am a second year master's student at New York University and a member of<a href="https://wp.nyu.edu/ml2/people/" target="_blank">ML<sup>2</sup> Group</a>at<a href="https://wp.nyu.edu/cilvr/" target="_blank">CILVR</a>where I am advised by<a href="https://cims.nyu.edu/~sbowman/" target="_blank" style="margin-right: -4px;">Sam Bowman</a>. <br>
        <br>
        I am broadly interested in using deep learning methods for NLP. Recently, my research has been focused on  empirical evaluation of task design for natural language understanding and the design of annotated datasets for testing and evaluation. <br>
        <br>
        Prior to NYU, I worked on the continued development of<a href="https://www.aig.com/" target="_blank">AIG's</a>economic risk capital framework. In 2016, I graduated Cum Laude from Cornell University with a Bachelor's with Honors in Operations Research Engineering.
    </p>
</div>