    <div class="columns has-text-centered" id="research-card">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <div class="image is-16by9" style="background-image: url({{project.image}});"></div>
    </div>
    <a href="{{project.link}}" target="_blank">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h1 class="title is-size-4-touch">{{ project.name }}</h1>
            <br>
            <div class="content has-text-grey">
                {{ project.description | truncate: 500 }}
                <hr class="has-background-grey">
            </div>
        </div>
    </a>
</div>