<div class="columns is-centered is-multiline is-mobile">
  {% for project in site.data.projects %}
    <div class="columns has-text-centered" id="research-card">
    <div class="column is-marginless is-paddingless is-one-third-desktop is-one-third-fullhd is-one-third-tablet">
        <div class="image is-16by9" style="background-image: url({{project.image}});"></div>
    </div>
    <a href="{{project.link}}" target="_blank">
        <div class="column has-text-left-desktop has-text-left-tablet">
            <h1 class="title is-size-4-touch">{{ project.name }}</h1>
            <br>
            <div class="content has-text-grey">
                <p>
                    <b>{{ project.authors }}</b><br>
                    <i>{{ project.pubtype }}</i><br>
                    {{ project.description | truncate: 500 }}
                </p>
            </div>
        </div>
    </a>
</div>
  {% endfor %}
</div>